.background{
background-color:blue;
height:800px;
width:1600px;
}
.border{
background-color:purple;
height:800px;
width:150px;
position:absolute;
}
.border2{
background-color:purple;
height:800px;
width:155px;
position:absolute;
margin-left:1450px;
}
.block{
background-color:Indigo;
height:35px;
width:210px;
position:absolute;
margin-left:700px;
margin-top:10px;
color:white;
font-size:30px;
}
#one{
width:200px;
hieght:300px;
margin-left:220px;
margin-top:500px;
}
#two{
width:250px;
height:200px;
margin-left:470px;
margin-top: 225px;
}
#three{
width:250px;
height:200px;
margin-left:70px;
}
#four{
width:250px;
height:200px;
margin-left:70px;
}
#p1{
width:300px;
height:250px;
color:white;
background-color:indigo;
margin-left:200px;
margin-top:120px;
position:absolute;
}
#p2{
width:300px;
height:250px;
color:white;
background-color:indigo;
margin-left:650px;
margin-top:120px;
position:absolute;
}
#p3{
width:300px;
height:250px;
color:white;
background-color:indigo;
margin-left:1100px;
margin-top:120px;
position:absolute;
}
.circle{
width:300px;
height:300px;
background-color:skyblue;

border-radius:50%;
position:absolute;
}
#onec{
margin-left:875px;

}
#twoc{
margin-left:425px;
margin-top:200px;
}
#link{
color:white;
position:absolute;
margin-top:25px;
margin-left:735px;
font-size:20px;

}
.div {
  background-color:skyblue;
 
  display: none;
width:200px;
height:300px;
color:black;
position:absolute;
}
  
.contain:hover + .div {
  display: block;
}

.contain{
height:300px;
width:500px;
}


