.r{
	background-color:#9400d3;
	width:100%;
	height:2000px;
	float:left;

}
.o{	
	background-color:#4166f5;
	color:#eee8aa;
	font-size:40px;
	float:left;
	width:75%;
	height:200px;
	margin-left:200px;
}
.y{
	background-color:#4b0082;
	color:#39ff14;
	font-size:40px;
	float:left;
	width:75%;
	height:1000px;
	margin-left:200px;
}
.fs{
	background-color:;
	color:;
	font-size:40px;
	float:left;
	width:75%;
	height:800px;
	margin-left:200px;
}